html{
    scroll-behavior: smooth;
}

body,
html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #FEE7E1;
    /*padding: 40px;*/
    margin: 0px;
}

.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

button {
    background-color: #FFEAEA;
    font-family: 'DM Sans', sans-serif;
    border-color: black;
    cursor: pointer;
}



h1 {
    font-size: 50pt;
    font-family: 'DM Sans', sans-serif;
    max-width: 75%;
    margin-bottom: 0.3em;
}


.resultH2{
    max-width: 90%;
    /*margin-block-start: 0px;*/
    /*margin-top:-15vh;*/
}

.prozentzahl{
    font-size: 110pt;
    margin-bottom: -5vh;
    margin-top: -0vh;
}

/*
.start,
.beginningOfWebsite {
    padding-top:100px;
}*/

h2 {
    font-size: 50pt;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 30pt;
    font-family: 'DM Sans', sans-serif;
}

p {
    font-family: 'DM Sans', sans-serif;
    color: black;
    max-width: 60rem;
    font-size: 14pt;
}

.fussNotenTextH1{
    margin-right: 40px;
}

a{
    color:white;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

a:hover{
    color: #999696;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    overflow: hidden;
}
/* scroll-snap-align: none; */

.contentSection{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: (100vw -- 100px);
}

.intro {
    display: flex;
    flex-flow: column nowrap;
    /* scroll-snap-type: y mandatory; */
}


.question {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding: 100px;
}

.ja,
.nein,
.buttonLos {
    border-width: 2.5px;
    width: 150px;
    height: 70px;
    margin-top: 37px;
    font-size: 25pt;
}

.datensatzButton{
    font-size: 14pt;
    width: 200px;
    height: 40px;
}

.skipButton {
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 14pt;
    height: 60px;
    width: 120px;
}

.visible {
    display: block;
}

.mainPageContent {
    visibility: visible;
    /*visibility: hidden;*/
}


.iconContainer {
    display: flex;
    flex-direction: row;
    min-width: 475px;
    justify-content: space-between;
    align-items: center;
    /*justify-content: space-between;*/
}

.stickyScroll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stickyText{
    position: fixed;
    top: 40px;
    /* left: 40px; */
    z-index: 20;
    
}

.platzhalterIcon {
    width: 100px;
    height: 70px;
    background-color: black;
    margin-bottom: 30px;
    margin-right: 100px;
}

.fliesstextBox {
    width: 500px;
}

.platzhalterBild {
    width: 400px;
    height: 400px;
    background-color: #466362;
}

.whiteSection {
    background-color: #ECFCFF;
    /*width: (100vw -- 100px);
    margin-left: -100px;
    padding: 100px;*/
}

.green {
    background-color:#EFF5DB;
}

.chart-container {
    width: 90%;
    max-height: 50vh;
   /* height: 80vh; */
}

.chart-container.bar{
    width: 70%;
}


/*
::-webkit-scrollbar {
    display: none;
}*/

/*
.container.y {
    height: 100vh;
    flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
}
*/
/*
.root>section.contentSection:not(.first) {
    scroll-snap-align: none;
    scroll-snap-stop: normal;
}*/

.root > section {
    /*text-align: center;*/
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex: none;
}

.root > section.snapGroup {
    scroll-snap-stop: normal;
}